@model UploadDataCommand
@{

}

<div>
    <img src="~/images/faceslogo.png" alt="faces logo" />
    <h2></h2>
</div>

<form asp-controller="Home" asp-action="UploadData" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-10">
            <h3>Enter your email address and upload your faces picture</h3>
            <div class="form-group">
                <label asp-for="UserEmail"></label>
                <input asp-for="UserEmail" class="form-control" />
            </div>
        </div>
        <div class="col-md-5">
            <p>Upload your image file using the button below</p>
            <input type="file" name="file" id="imageBrowse" />
        </div>
        <div class="col-md-5">
            <div id="imgPreview" class="thumbnail" style="display:none">
                <img class="img-responsive" id="targetImg" style="width:150px;height:150px" />
                <div class="figure-caption">
                    <a href="#" onclick="clearPreview()">
                        <i class="">Clear</i>
                    </a>
                    <span id="description"></span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row mt-4">
        <div class="col-md-10">
            <input type="submit" class="btn btn-info" value="Submit" />
        </div>
    </div>

</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#imageBrowse').change(function () {
                var uploadFile = this.files;

                if (uploadFile && uploadFile[0]) {
                    readImage(uploadFile[0]);
                }
            });
        });

        var readImage = function (file) {
            var reader = new FileReader;
            var image = new Image;

            reader.readAsDataURL(file);
            reader.onload = function (_file) {
                image.src = _file.target.result;
                image.onload = function () {
                    var height = this.height;
                    var width = this.width;
                    var type = file.type;
                    var size = ~~(file.size / 1024) + "kB";

                    $('#targetImg').attr('src', _file.target.result);
                    $('#description').text('Size: ' + size + ', ' + height + ' X ' + width + ', ' + type);
                    $('#imgPreview').show();
                };
            };
        }

        var clearPreview = function () {
            $('#imageBrowse').val('');
            $('#description').text('');
            $('#imgPreview').hide();
        }
    </script>
}